.app-container {
  position: relative;
  height: 100vh;
}

.app-container h1 {
  position: sticky;
  top: 0;
  font-size: 1.5em;
  text-align: center;
  color: #ddd;
  width: 30%;
  margin: 20px auto;
  padding: 10px 0;
  background-color: #444;
  border: none;
}

.user-list {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}

@media screen and (max-width: 520px) {
  .user-list {
    top: 90px;
  }
}
